{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <meta name="description" content="" />
  <meta name="author" content="" />
  <title>QR Code Mafia</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/@fortawesome/fontawesome-free/css/all.min.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}">
  <script src="{% static 'vendor\jQuery\jquery-3.5.1.min.js' %}"></script>

  <script type="text/javascript">
    function getQRURL(linkElement) {
      var qrImageDiv = document.getElementById('download_QR_Image');
      var downloadQRImage = qrImageDiv.children[0];
      linkElement.href = downloadQRImage.src;
    }
  </script>

</head>

<body>

  <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" href="">QR Code Mafia</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
      aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href=""> <i class="fa fa-home" aria-hidden="true"></i> Home <span
              class="sr-only">(current)</span></a>
        </li>

      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>

  <main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">

        <div id="mainDataToggleGroup">
          <p>

            <button class="btn dropdown btn-primary btn-block" data-toggle="collapse" data-target="#plain_text"><i
                class="fa fa-font" aria-hidden="true"></i> TEXT</button>
            <button class="btn dropdown btn-primary btn-block" data-toggle="collapse" data-target="#wifi_config"><i
                class="fa fa-wifi" aria-hidden="true"></i> WIFI </button>
            <button class="btn dropdown btn-primary btn-block" data-toggle="collapse" data-target="#url_form"><i
                class="fa fa-globe" aria-hidden="true"></i> URL </button>
          
            <button class="btn dropdown btn-primary btn-block" data-toggle="collapse" data-target="#memcard_form"><i
                class="fa fa-address-card" aria-hidden="true"></i> MEMCard
            </button>
            <button class="btn dropdown btn-primary btn-block" data-toggle="collapse" data-target="#vcard_form"><i
                class="fa fa-mobile" aria-hidden="true"></i> vCard </button>
            <button class="btn dropdown btn-primary btn-block" data-toggle="collapse" data-target="#lat_lang_form"><i
                class="fa fa-map" aria-hidden="true"></i> Geo Tag </button>
          </p>

          <div class="accordion-group">
            <div class="collapse indent" id="plain_text" data-parent="#mainDataToggleGroup">
              <div class="card card-body">

                <form method="post" novalidate>
                  {% csrf_token %}
                  {{ plain_text_form|crispy }}
                  <button type="submit" class="btn btn-success">Submit</button>
                </form>


              </div>
            </div>

            <div class="collapse indent" id="wifi_config" data-parent="#mainDataToggleGroup">
              <div class="card card-body">

                <form method="post" novalidate>
                  {% csrf_token %}
                  {{ wifi_config_form|crispy }}
                  <button type="submit" class="btn btn-success">Submit</button>
                </form>

              </div>
            </div>

            <div class="collapse indent" id="url_form" data-parent="#mainDataToggleGroup">
              <div class="card card-body">

                <form method="post" novalidate>
                  {% csrf_token %}
                  {{ url_form |crispy }}
                  <button type="submit" class="btn btn-success">Submit</button>
                </form>

              </div>
            </div>

            <div class="collapse indent" id="memcard_form" data-parent="#mainDataToggleGroup">
              <div class="card card-body">

                <form method="post" novalidate>
                  {% csrf_token %}
                  {{ memcard_form |crispy }}
                  <button type="submit" class="btn btn-success">Submit</button>
                </form>

              </div>
            </div>

            <div class="collapse indent" id="vcard_form" data-parent="#mainDataToggleGroup">
              <div class="card card-body">

                <form method="post" novalidate>
                  {% csrf_token %}
                  {{ vcard_form |crispy }}
                  <button type="submit" class="btn btn-success">Submit</button>
                </form>

              </div>
            </div>

            <div class="collapse indent" id="lat_lang_form" data-parent="#mainDataToggleGroup">
              <div class="card card-body">

                <form method="post" novalidate>
                  {% csrf_token %}
                  {{ lat_lang_form |crispy }}
                  <button type="submit" class="btn btn-success">Submit</button>
                </form>

              </div>
            </div>


          </div>

        </div>
      </div>

      <div class="container">

        <div class="text-center img-thumbnail img-fluid " id="download_QR_Image">
          {% if qr_image %}
          <img src="data:image/png;base64,{{ qr_image }}" class="rounded" height="203" width="203" alt="...">
          <p>
            <a class="btn btn-success" href="#" onclick="getQRURL(this)" download>DOWNLOAD</a>
          </p>
          {% else %}
          <img src="{{ default_qr_image }}" class="rounded" height="203" width="203" alt="...">
          {% endif %}
        </div>


      </div>

      <div class="container">
        <div class="card">
          <div class="card-header">
            Quote
          </div>
          <div class="card-body">
            <blockquote class="blockquote mb-0">
              <p>All this modern technology just makes people try to do everything at once.</p>
              <footer class="blockquote-footer">Bill Watterson</footer>
            </blockquote>
          </div>
        </div>
      </div>


  </main>

  <footer class="footer">
    <p>&copy; QR Code Mafia 2020</p>
  </footer>

  <!-- Vendor Scripts -->

  <script src="{% static 'vendor\bootstrap\js\bootstrap.bundle.min.js' %}"></script>


</body>

</html>